@import '../../../assets/sass/abstracts/colors';
@import '../../../assets/sass/abstracts/mixins';

.about {
  padding: 180px 0;
  background-color: #f9f8f8;

  &__container {
    @include container;
    max-width: 1600px;
    display: flex;
    gap: 50px 0;
  }

  &__title,
  &__subtitle {
    margin-bottom: 30px;
  }

  &__title {
    @include title;
    font-size: 3.125rem;
    color: $dark-blue;
  }

  &__subtitle {
    @include cursive-text;
  }

  &__text,
  &__list {
    margin-bottom: 45px;
  }

  &__text {
    @include paragraph;
  }

  &__list-item {
    @include flex-align-center;
    gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__list-img {
    padding: 1.5rem;
    border-radius: 1.25rem;
    background-color: #fff;
  }

  &__list-title {
    @include title;
    margin-bottom: 10px;
    font-size: 1.5625rem;
    color: $dark-blue;
  }

  &__list-text {
    @include paragraph;
    max-width: 415px;
    font-size: 1.125rem;
  }

  @media (max-width: 1420px) {
    & {
      padding: 50px;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      order: 1;
      text-align: center;
    }

    &__image {
      order: 2;
    }

    &__list-title,
    &__list-text {
      text-align: left;
    }

    &__list-item {
      justify-content: center;
    }
  }
}
